---
layout: default
title: Home
---

{% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include menu.html %}
{% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include back-link.html %}
{% else %}
  {{ include.content.content | markdownify }}
  <header class="site-masthead">


      <h1>
        Benjamin Paspaporn
      </h1>
      <h2>
        Designer. Developer. Thinker.
      </h2>
  </header>
{% endif %}

<main class="home" id="main" role="main" aria-label="Content">

  <h1 class="content-title divided">
    {% if site.paginate and site.paginate_path and paginator.page > 1 %}
      Page {{ paginator.page }}
    {% else %}
      Resumé
    {% endif %}
  </h1>



  <div>
    **bold text**
    </div>




</main>
